agent/core/.env
agent/assets/app_credentials.json
agent/assets/token.json

agent_weather/core/.env
agent_weather/assets/app_credentials.json
agent_weather/assets/token.json

agent_memory/core/.env
agent_memory/assets/app_credentials.json
agent_memory/assets/token.json

agent_start/core/.env
agent_start/assets/app_credentials.json
agent_start/assets/token.json